- List comprehension 

- list comprehension will able to write for loop and if condition in a single line
- which reduce the time to get the output

In [7]:
for i in range(10):
    print(i,end=" ")
print(type(i))

0 1 2 3 4 5 6 7 8 9 <class 'int'>

In [8]:
list1=[]
for i in range(10):
    list1.append(i)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**Method-1: Only for loop**

In [12]:
list1=[i for i in range(10)]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
l1=['hyd','chennai','mumbai','pune']
ans=[]
for i in l1:
    ans.append(i.capitalize())
ans

['Hyd', 'Chennai', 'Mumbai', 'Pune']

In [37]:
l1=['hyd','chennai','mumbai','pune']
ans=[]
for i in l1:
    ans.append((l1.index(i)*10))
ans

[0, 10, 20, 30]

In [39]:
ans=[l1.index(i)*10 for i in l1]
ans

[0, 10, 20, 30]

In [27]:
l1=['hyd','chennai','mumbai','pune']
summ=0
for i in l1:
    summ=summ+i
print(summ)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
l1=['hyd','chennai','mumbai','pune']
summ=0
for i in range(len(l1)):
    summ=summ+i
summ

6

In [63]:
l1=['hyd','chennai','mumbai','pune']
summ=0
[summ:=summ+i for i in range(len(l1))]
print(summ)

6

- use walrus operator if you are using list comprehension (:=)

**Method-2: for loop and only if condition**

In [54]:
l1=['hyd','chen#ai','mu#bai','pune']
ans=[]
for i in l1:
    if "#" in i:
        ans.append(i)
ans

['chen#ai', 'mu#bai']

In [56]:
l1=['hyd','chen#ai','mu#bai','pune']
[i for i in l1 if '#' in i]

['chen#ai', 'mu#bai']

In [58]:
# [<output> <if condition> <for loop>]

In [60]:
l1=['hyd','chen#ai','mu#bai','pune']
[i if '#' not in i for i in l1]
# here we need to write if condition last

SyntaxError: expected 'else' after 'if' expression (666460119.py, line 2)

In [62]:
l1=['hyd','chen#ai','mu#bai','pune']
[i for i in l1 if '#' not in i]

['hyd', 'pune']

In [66]:
list1=[100,20,27,38,47,52,87]
evenlist=[i for i in list1 if i%2==0]
oddlist=[i for i in list1 if i%2!=0]
evenlist,oddlist

([100, 20, 38, 52], [27, 47, 87])

In [ ]:
method-1:[output for loop]
method-2:[output for loop if condition]
method-3:[<if output> <if condition> else <else output> <for loop>]
method-4:[<if output> <if condition> else <elif output> <elif con> <else output>]

**Method-3: for loop-if-else**

In [76]:
list1=[100,20,27,38,47,52,87]
['even' if i%2==0 else 'odd' for i in list1]

['even', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [78]:
list1=[100,20,27,38,47,52,87]
[i if i%2==0 else i for i in list1]

[100, 20, 27, 38, 47, 52, 87]

In [ ]:
l=[45,76,89,53,67,90,82,49,33,99]
#1. filter the students who passes marks >=50
#2. calculate grades of all studnets 
#  A: 85+, B: 70-84 C: 50-69 D:<50
 # 4 list 
# add 5 grace marks to students who fail <50
# find the aveage marks of all studmnts

In [86]:
l=[45,76,89,53,67,90,82,49,33,99]
[i for i in l if i>=50]
[f'A:{i}' for i in l if i>=85]
[f'B:{i}' for i in l if i>=70]
[f'C:{i}' for i in l if i>=50]

[76, 89, 53, 67, 90, 82, 99]

**Method-4: for if elif else**
- There is no elif in list comprehension
- elif alse we can write : else+if=elif
- method-3: [<if output> <if condition> else <else output>]
- method-4: [<<if output> <if condition> else <elif output> <elif con> <else output>]

In [89]:
l=[45,76,89,53,67,90,82,49,33,99]
[f'A:{i}' if i>=85 else f'B:{i}' if i>=70 else f'C:{i}' for i in l]

['C:45',
 'B:76',
 'A:89',
 'C:53',
 'C:67',
 'A:90',
 'B:82',
 'C:49',
 'C:33',
 'A:99']

**wlarus operator**
- in list comprehension = will not work
- if you want to write equal to (=) then we will use walrus oprator:=

In [98]:
l=[45,76,89,53,67,90,82,49,33,99]
total =0
ans=[total:=total+i for i in l]
total/len(l)

68.3