In [7]:
a=100
b=200
c=a+b
# the addition of 100 and 200 is 300
print('the addition of',a,'and',b,'is',c)
print('the addition of {} and {} is {}'.format(a,b,c).)

the addition of 100 and 200 is 300

In [13]:
name='python'
age=10
city='hyd'
print('My name is',name,'im',age,'years old and from',city)
print('My name is {} im {} years old and from {}'.format(name,age,city))

My name is python im 10 years old and from hyd
My name is python im 10 years old and from hyd

In [29]:

n1=100
n2=200
add=n1+n2
sub=n1-n2
mul=n1*n2
div=n1/n2
# the additon of 100 and 200 is 300
# the subraction of 100 and 200 is -100
# the multiplication of 100 and 200 is 20000
# the division of 100 and 200 is 0.5
print(f'the addition of {n1} and {n2} is {n1+n2}')
print(f'the subraction of {n1} and {n2} is {n1-n2}')
print(f'the multiplication if {n1} and {n2} is {n1*n2}')
print(f'the division if {n1} and {n2} is {n1/n2}')

the addition of 100 and 200 is 300
the subraction of 100 and 200 is -100
the multiplication if 100 and 200 is 20000
the division if 100 and 200 is 0.5

$end$

In [31]:
print(20,end='****')
print(30)
print(a)

20****30
100

In [35]:
print(1,end=' ')
print(2,end=' ')
print(3)

1 2 3

$sep$

In [38]:
print(20,30,50,sep='=')

20=30=50

- end operator used to combine multiple print statements 
- sep operator used to seperate the multiple variables  in a single print statements

In [51]:

print( f'the addition of 3+4  is' ,{7})

the addition of 3+4  is {7}

In [53]:
input()

 Hello

'Hello'

In [55]:
input()
input()
input()

 10+20
 50-20
 lets see

'lets see'

In [59]:
input('Enter Your Name:')
input('Enter your age:')

Enter Your Name: Irshad
Enter your age: 22

'22'

In [63]:
a=int(input('enter value:'))
b=int(input('enter value2:'))
a+b

enter value: 50
enter value2: 55

105