In [1]:
l1=['Ramesh','Suresh','Satish']
l2=[20,30,40]
for i in range(len(l1)):
    print(f"{l1[i]} age is {l2[i]}")

Ramesh age is 20
Suresh age is 30
Satish age is 40

$zip$

In [4]:
l1=['Ramesh','Suresh','Satish']
l2=[20,30,40]
for i,j in zip(l1,l2):
    print(i,j)

Ramesh 20
Suresh 30
Satish 40

- here zip is used to combine both the list or anything
- above i indicates l1 and j indicates l2

In [ ]:
l1=['Ramesh','Suresh','Satish']
l2=[20,30,40]
l3=['hyd','mumbai','chennai']
for i,j,k in zip(l1,l2):
    print(i,j)

**Dictionary**
- strings represent in quotes 
- list represent in square brackets 
- tuple represent in parenthesis
- sets represent in curly braces with only one value
- Dictionary also represent in curly braces with two values
- Dictionary has key:value pair
- Dictionary elements are in pair
  - one element called as **key**
  - another element as **value**

In [ ]:
l1=['Ramesh','Suresh','Satish']
l2=[20,30,40]

{key:value}
{key1:value1,key2:value2,key3:value3}

In [9]:
dict1={'ramesh':20,'Suresh':30,'satish':40}
dict1

{'ramesh': 20, 'Suresh': 30, 'satish': 40}

**initilization**

In [11]:
dict2={20:'Ramesh',54:'satish',15:'suresh'}
dict2

{20: 'Ramesh', 54: 'satish', 15: 'suresh'}

In [13]:
dict3={[10]:['suresh'],[20]:['ramesh']}
dict3

TypeError: unhashable type: 'list'

In [15]:
dict4={(10):('ramesh'),(20):('suresh')}
dict4

{10: 'ramesh', 20: 'suresh'}

In [17]:
dict5={{10:'ramesh'},{20:'suresh'}}
dict5

TypeError: unhashable type: 'dict'

In [19]:
dict6={'ramesh':20,'ramesh':30}
dict6
# keys are important 
# when same keys but differnet value
# it will take latest value i.e 30

{'ramesh': 30}

In [21]:
dict7={'ramesh':20,'suresh':20}
dict7
#value can be changeable

{'ramesh': 20, 'suresh': 20}

In [23]:
#imp interview question
dict8={[10,20,30]:('Ramesh','suresh','satish')}
dict8
# list cannot be a key because list is mutable and key should not change

TypeError: unhashable type: 'list'

In [ ]:
d1={20:'Ramesh',54:'satish':15,'suresh':30}
d2={'ramesh':20,'Suresh':30,'satish':40}
d3={'ramesh':'20','Suresh':'30','satish':'40'}
d4={'ramesh':'20','Suresh':30,40:'satish'}

In [43]:
d1={20:'Ramesh',54:'satish','suresh':30}
max(d1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [37]:
d2={'ramesh':20,'Suresh':30,'satish':40}
for i,j in d2:
    print(i,j)

ValueError: too many values to unpack (expected 2)

In [41]:
d2={'ramesh':20,'Suresh':30,'satish':40}
for i in d2:
    i.max()

AttributeError: 'str' object has no attribute 'max'

In [45]:
d2={'ramesh':20,'Suresh':30,'satish':40}
max(d2)

'satish'

In [47]:
d2={'ramesh':20,'Suresh':30,'satish':40}
min(d2)

'Suresh'

In [49]:
d1={20:'Ramesh',54:'satish'}
max(d1)

54

In [51]:
d1={20:'Ramesh',54:'satish'}
min(d1)

20

In [53]:
d1={20:'Ramesh',54:'satish',15:'suresh'}
len(d1)

3

In [55]:
d1={20:'Ramesh',54:'satish',15:'suresh'}
sorted(d1)

[15, 20, 54]

In [59]:
d1={20:'Ramesh',54:'satish',15:'suresh'}
list(reversed(d1))

[15, 54, 20]

In [61]:
d2={'ramesh':20,'Suresh':30,'satish':40}
list(reversed(d2))

['satish', 'Suresh', 'ramesh']

- max/sum/sorted can work for homogeneous
- sum is only work for numbers only
- reversed can work on anyone

**index**

In [65]:
l1=[10,20,30]
l1[0]

10

In [69]:
t1=(10,20,30)
t1[0]

10

In [73]:
d2={'ramesh':20,'Suresh':30,'satish':40}
d2[0]

KeyError: 0

In [75]:
d2={'ramesh':20,'Suresh':30,'satish':40}
d2['ramesh']

20

In [77]:
d2={'ramesh':20,'Suresh':30,'satish':40}
for i in d2:
    print(i)

ramesh
Suresh
satish

In [79]:
d2={'ramesh':20,'Suresh':30,'satish':40}
for i in d2:
    print(d2[i])

20
30
40

In [81]:
d2={'ramesh':20,'Suresh':30,'satish':40}
for i in d2:
    print(i,d2[i])

ramesh 20
Suresh 30
satish 40

In [83]:
d1={'Fruits':['Apple','Banana','Cherry']}
d1['Fruits']

['Apple', 'Banana', 'Cherry']

In [85]:
d1={'Fruits':['Apple','Banana','Cherry']}
d1['Fruits'][2]

'Cherry'

In [87]:
d1={'Fruites':{'Appple':['Sweet','Green','custred']}}
d1['Fruites']['Appple'][1]

'Green'

In [97]:
d1={'Fruites':[{'Cost':[100,200,300]}]}
d1['Fruites'][0]['Cost'][2]

300

In [109]:
d1={'Fruites':['Apple'],'Cost':[{'1kg':[300,500],
                               '2kg':['None']}]}
d1['Cost'][0]['2kg']

['None']

In [121]:
d1={'Fruites':{'Mango':{'Nagpur':{'MH':{'King':{'Shivaji':{'Shambaji'}}}}}}}
d1['Fruites']['Mango']['Nagpur']['MH']['King']['Shivaji']

{'Shambaji'}

In [153]:
d1={'Fruites':{'Mango':{'Nagpur':{'MH':{'King':{'Shivaji':{'Shambaji'}}}}}}}
d1['Fruites']['Mango']['Nagpur']['MH']['King']['Shivaji']

{'Shambaji'}

In [123]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [143]:
type({})

dict

In [145]:
type({10})

set

In [7]:
names=['Ramesh','Suresh','Satish']
age=[20,30,40]
dict1={}
dict1=['Ramesh']=20
dict1=['Suresh']=30
dict1=['Satish']=40
dict1

SyntaxError: cannot assign to literal (3943702135.py, line 4)

In [9]:
dict1={}
dict1=['Ramesh']=20
dict1=['Suresh']=30
dict1=['Satish']=40
dict1

SyntaxError: cannot assign to literal (2467621859.py, line 2)

In [15]:
names=['Ramesh','Suresh','Satish']
age=[20,30,40]
dict1={}
for i,j in zip(names,age):

SyntaxError: invalid syntax (864642254.py, line 5)

**dictionary comprehension**

In [ ]:
names=['Ramesh','Suresh','Satish']
age=[20,30,40]
d1={}

**mutable vs immutable**
- list are mutable
- strings are mutable
- tuple are mutable
- dictionary also mutable we can modify value of dictionary

In [21]:
d={'Ramesh':20,'Suresh':40,'Satish':50}
d['Ramesh']=15
d

{'Ramesh': 15, 'Suresh': 40, 'Satish': 50}

- dictionary is similar
-

**concatenation**

In [25]:
d1={'Ramesh':20}
d2={'Fruits':'Apple'}
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

**items-values-keys**

In [28]:
d={'Ramesh':20,'Suresh':40,'Satish':50}
d.items()

dict_items([('Ramesh', 20), ('Suresh', 40), ('Satish', 50)])

In [30]:
d={'Ramesh':20,'Suresh':40,'Satish':50}
d.values()

dict_values([20, 40, 50])

In [34]:
d={'Ramesh':20,'Suresh':40,'Satish':50}
d.keys()

dict_keys(['Ramesh', 'Suresh', 'Satish'])

In [36]:
d={'Ramesh':20,'Suresh':40,'Satish':50}
keys=d.keys()
type(keys)

dict_keys

- dict_keys is a type has keys
- it is looks like list but not list
- we can use list ,ethods here
- for that we need to convert dict_keys to list

In [39]:
d={'Ramesh':20,'Suresh':40,'Satish':50}
keys=d.keys()
list(keys)

['Ramesh', 'Suresh', 'Satish']

In [43]:
d={'Ramesh':20,'Suresh':40,'Satish':50}
values=d.values()
list(values)

[20, 40, 50]

In [45]:
d={'Ramesh':20,'Suresh':40,'Satish':50}
items=d.items()
list(items)

[('Ramesh', 20), ('Suresh', 40), ('Satish', 50)]

In [47]:
d={'ramesh':20,'Suresh':30,'Satish':40}
keys,values=[],[]
for key in d:
    keys.append(key)
    values.append(d[key])
keys,values

(['ramesh', 'Suresh', 'Satish'], [20, 30, 40])

In [51]:
d={'ramesh':20,'Suresh':30,'Satish':40}
keys=[key for key in d]
values=[d[key] for key in d]
keys,values

(['ramesh', 'Suresh', 'Satish'], [20, 30, 40])

In [53]:
d={'ramesh':20,'Suresh':30,'Satish':40}
keys=list(d.keys())
values=list(d.values())
keys,values

(['ramesh', 'Suresh', 'Satish'], [20, 30, 40])

In [ ]:
d={'ramesh':20,'Suresh':30,'Satish':40}
keys,values=[],[]
for key in d:
    keys.append(key)
    values.append(d[key])
keys,values
##############################################
d={'ramesh':20,'Suresh':30,'Satish':40}
keys=[key for key in d]
values=[d[key] for key in d]
keys,values
###############################################
d={'ramesh':20,'Suresh':30,'Satish':40}
keys=list(d.keys())
values=list(d.values())
keys,values

In [ ]:
d={'Ramesh':20,'Suresh':30,'Satish':40}
#{'ramesh': '20', 'suresh': '30', 'satish': '40'}

In [73]:
d={'Ramesh':20,'Suresh':30,'Satish':40}
keys=[i.lower() for i in list(d.keys())]
values=[str(i) for i in list(d.values())]
{key:value for key,value in zip(keys,values)}

{'ramesh': '20', 'suresh': '30', 'satish': '40'}

**get**

In [78]:
d={'Ramesh':20,'Suresh':30,'Satish':40}
d['Ramesh']#normal

20

In [80]:
d={'Ramesh':20,'Suresh':30,'Satish':40}
d.get('Ramesh')

20

In [ ]:
#####methods######
d={'Ramesh':20,'Suresh':30,'Satish':40}
d.get('Ramesh') #ans
d.get('r') # no error-no ans
###################
d['Ramesh'] #normal way
d['r'] #error

**update**

In [85]:
d={'Ramesh':20,'Suresh':30,'Satish':40}
d1={'Fruits':'Apple'}
d.update(d1)
d

{'Ramesh': 20, 'Suresh': 30, 'Satish': 40, 'Fruits': 'Apple'}

In [87]:
d.update('Apple':200)

SyntaxError: invalid syntax (1332259269.py, line 1)

In [89]:
d.update('Apple'=200)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1548661541.py, line 1)

In [93]:
d.update(Apple=200)
d

{'Ramesh': 20, 'Suresh': 30, 'Satish': 40, 'Fruits': 'Apple', 'Apple': 200}

In [95]:
d.update([200,'Marks'])
d

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [99]:
t=(200,'marks')
l=[t]
d.update(l)
d

{'Ramesh': 20,
 'Suresh': 30,
 'Satish': 40,
 'Fruits': 'Apple',
 'Apple': 200,
 200: 'marks'}

In [ ]:
d={'Ramesh':20,'Suresh':30,'Satish':40}
d1={'Fruits':'Apple'}
d.update(d1)
d.update(Apple=200)
d.update([(200,'marks')])

**pop-popitem**

In [102]:
l=[100,200,111,222]
l.pop(1)

200

**del**

In [107]:
l=[100,200,333,444]
del l[0]
l

[200, 333, 444]

In [111]:
d={'Ramesh':20,'Suresh':30,'Satish':40}
del d['Ramesh']
d

{'Suresh': 30, 'Satish': 40}

In [ ]:
count in strings also in list
index in strings also in list
find in strings but not in list
pop in list also in dictionary 
remove in list but in dictionary pop item 
concatenation in list === extend in list
access value using key in dict === get method
del for list and dictionary
sorted and reversed for all data types